projects/Apps/AccountingSrv/AccountingServiceClient/Service References/AccountingV1/srv.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:555/srv.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/System.Data" />
  <xs:import schemaLocation="http://localhost:555/srv.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="EntityObject">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:StructuralObject">
        <xs:sequence>
          <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/System.Data" minOccurs="0" name="EntityKey" nillable="true" type="q1:EntityKey" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityObject" nillable="true" type="tns:EntityObject" />
  <xs:complexType name="StructuralObject">
    <xs:sequence />
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="StructuralObject" nillable="true" type="tns:StructuralObject" />
  <xs:complexType name="EntityReferenceOfglTypeI4_PYH9JG">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="glType" Namespace="http://schemas.datacontract.org/2004/07/AccountingService.Models" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfglTypeI4_PYH9JG" nillable="true" type="tns:EntityReferenceOfglTypeI4_PYH9JG" />
  <xs:complexType name="EntityReference">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:RelatedEnd">
        <xs:sequence>
          <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/System.Data" minOccurs="0" name="EntityKey" nillable="true" type="q2:EntityKey" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReference" nillable="true" type="tns:EntityReference" />
  <xs:complexType name="RelatedEnd">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="RelatedEnd" nillable="true" type="tns:RelatedEnd" />
  <xs:complexType name="EntityReferenceOfcategoryTypeI4_PYH9JG">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="categoryType" Namespace="http://schemas.datacontract.org/2004/07/AccountingService.Models" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfcategoryTypeI4_PYH9JG" nillable="true" type="tns:EntityReferenceOfcategoryTypeI4_PYH9JG" />
  <xs:complexType name="EntityReferenceOfcurrencyI4_PYH9JG">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="currency" Namespace="http://schemas.datacontract.org/2004/07/AccountingService.Models" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfcurrencyI4_PYH9JG" nillable="true" type="tns:EntityReferenceOfcurrencyI4_PYH9JG" />
  <xs:complexType name="EntityReferenceOfbankI4_PYH9JG">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="bank" Namespace="http://schemas.datacontract.org/2004/07/AccountingService.Models" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfbankI4_PYH9JG" nillable="true" type="tns:EntityReferenceOfbankI4_PYH9JG" />
  <xs:complexType name="EntityReferenceOfcardI4_PYH9JG">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="card" Namespace="http://schemas.datacontract.org/2004/07/AccountingService.Models" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfcardI4_PYH9JG" nillable="true" type="tns:EntityReferenceOfcardI4_PYH9JG" />
  <xs:complexType name="EntityReferenceOfccCardTypeI4_PYH9JG">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ccCardType" Namespace="http://schemas.datacontract.org/2004/07/AccountingService.Models" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfccCardTypeI4_PYH9JG" nillable="true" type="tns:EntityReferenceOfccCardTypeI4_PYH9JG" />
  <xs:complexType name="EntityReferenceOfccCardI4_PYH9JG">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ccCard" Namespace="http://schemas.datacontract.org/2004/07/AccountingService.Models" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfccCardI4_PYH9JG" nillable="true" type="tns:EntityReferenceOfccCardI4_PYH9JG" />
  <xs:complexType name="EntityReferenceOfcardTypeI4_PYH9JG">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="cardType" Namespace="http://schemas.datacontract.org/2004/07/AccountingService.Models" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfcardTypeI4_PYH9JG" nillable="true" type="tns:EntityReferenceOfcardTypeI4_PYH9JG" />
  <xs:complexType name="EntityReferenceOfexternalPaymentI4_PYH9JG">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="externalPayment" Namespace="http://schemas.datacontract.org/2004/07/AccountingService.Models" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfexternalPaymentI4_PYH9JG" nillable="true" type="tns:EntityReferenceOfexternalPaymentI4_PYH9JG" />
  <xs:complexType name="EntityReferenceOfextPaymentTypeI4_PYH9JG">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="extPaymentType" Namespace="http://schemas.datacontract.org/2004/07/AccountingService.Models" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfextPaymentTypeI4_PYH9JG" nillable="true" type="tns:EntityReferenceOfextPaymentTypeI4_PYH9JG" />
  <xs:complexType name="EntityReferenceOfentityI4_PYH9JG">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="entity" Namespace="http://schemas.datacontract.org/2004/07/AccountingService.Models" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfentityI4_PYH9JG" nillable="true" type="tns:EntityReferenceOfentityI4_PYH9JG" />
  <xs:complexType name="EntityReferenceOfpaymentI4_PYH9JG">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="payment" Namespace="http://schemas.datacontract.org/2004/07/AccountingService.Models" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfpaymentI4_PYH9JG" nillable="true" type="tns:EntityReferenceOfpaymentI4_PYH9JG" />
  <xs:complexType name="EntityReferenceOfinvoiceActionI4_PYH9JG">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="invoiceAction" Namespace="http://schemas.datacontract.org/2004/07/AccountingService.Models" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfinvoiceActionI4_PYH9JG" nillable="true" type="tns:EntityReferenceOfinvoiceActionI4_PYH9JG" />
  <xs:complexType name="EntityReferenceOfaccountI4_PYH9JG">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="account" Namespace="http://schemas.datacontract.org/2004/07/AccountingService.Models" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfaccountI4_PYH9JG" nillable="true" type="tns:EntityReferenceOfaccountI4_PYH9JG" />
  <xs:complexType name="EntityReferenceOfentityWalletI4_PYH9JG">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="entityWallet" Namespace="http://schemas.datacontract.org/2004/07/AccountingService.Models" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfentityWalletI4_PYH9JG" nillable="true" type="tns:EntityReferenceOfentityWalletI4_PYH9JG" />
  <xs:complexType name="EntityReferenceOftransactionI4_PYH9JG">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="transaction" Namespace="http://schemas.datacontract.org/2004/07/AccountingService.Models" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOftransactionI4_PYH9JG" nillable="true" type="tns:EntityReferenceOftransactionI4_PYH9JG" />
  <xs:complexType name="EntityReferenceOfpaymentStatI4_PYH9JG">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="paymentStat" Namespace="http://schemas.datacontract.org/2004/07/AccountingService.Models" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfpaymentStatI4_PYH9JG" nillable="true" type="tns:EntityReferenceOfpaymentStatI4_PYH9JG" />
  <xs:complexType name="EntityReferenceOfpaymentActionI4_PYH9JG">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="paymentAction" Namespace="http://schemas.datacontract.org/2004/07/AccountingService.Models" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfpaymentActionI4_PYH9JG" nillable="true" type="tns:EntityReferenceOfpaymentActionI4_PYH9JG" />
  <xs:complexType name="EntityReferenceOfinvoiceI4_PYH9JG">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="invoice" Namespace="http://schemas.datacontract.org/2004/07/AccountingService.Models" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfinvoiceI4_PYH9JG" nillable="true" type="tns:EntityReferenceOfinvoiceI4_PYH9JG" />
  <xs:complexType name="EntityReferenceOfinvoiceStatI4_PYH9JG">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="invoiceStat" Namespace="http://schemas.datacontract.org/2004/07/AccountingService.Models" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfinvoiceStatI4_PYH9JG" nillable="true" type="tns:EntityReferenceOfinvoiceStatI4_PYH9JG" />
  <xs:complexType name="EntityReferenceOfpaymentTypeI4_PYH9JG">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="paymentType" Namespace="http://schemas.datacontract.org/2004/07/AccountingService.Models" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfpaymentTypeI4_PYH9JG" nillable="true" type="tns:EntityReferenceOfpaymentTypeI4_PYH9JG" />
  <xs:complexType name="EntityReferenceOfentityTypeI4_PYH9JG">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="entityType" Namespace="http://schemas.datacontract.org/2004/07/AccountingService.Models" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfentityTypeI4_PYH9JG" nillable="true" type="tns:EntityReferenceOfentityTypeI4_PYH9JG" />
  <xs:complexType name="EntityReferenceOfofficeTypeI4_PYH9JG">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="officeType" Namespace="http://schemas.datacontract.org/2004/07/AccountingService.Models" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfofficeTypeI4_PYH9JG" nillable="true" type="tns:EntityReferenceOfofficeTypeI4_PYH9JG" />
  <xs:complexType name="EntityReferenceOfofficeI4_PYH9JG">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="office" Namespace="http://schemas.datacontract.org/2004/07/AccountingService.Models" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfofficeI4_PYH9JG" nillable="true" type="tns:EntityReferenceOfofficeI4_PYH9JG" />
  <xs:complexType name="EntityReferenceOforganizationI4_PYH9JG">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="organization" Namespace="http://schemas.datacontract.org/2004/07/AccountingService.Models" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOforganizationI4_PYH9JG" nillable="true" type="tns:EntityReferenceOforganizationI4_PYH9JG" />
  <xs:complexType name="EntityReferenceOfpersonI4_PYH9JG">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="person" Namespace="http://schemas.datacontract.org/2004/07/AccountingService.Models" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfpersonI4_PYH9JG" nillable="true" type="tns:EntityReferenceOfpersonI4_PYH9JG" />
  <xs:complexType name="EntityReferenceOfuserTypeI4_PYH9JG">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="userType" Namespace="http://schemas.datacontract.org/2004/07/AccountingService.Models" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfuserTypeI4_PYH9JG" nillable="true" type="tns:EntityReferenceOfuserTypeI4_PYH9JG" />
  <xs:complexType name="EntityReferenceOfcurrencyTypeI4_PYH9JG">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="currencyType" Namespace="http://schemas.datacontract.org/2004/07/AccountingService.Models" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfcurrencyTypeI4_PYH9JG" nillable="true" type="tns:EntityReferenceOfcurrencyTypeI4_PYH9JG" />
  <xs:complexType name="EntityReferenceOfserviceI4_PYH9JG">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="service" Namespace="http://schemas.datacontract.org/2004/07/AccountingService.Models" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfserviceI4_PYH9JG" nillable="true" type="tns:EntityReferenceOfserviceI4_PYH9JG" />
</xs:schema>