projects/Apps/AccountingSrv/AccountingServiceClient/Service References/AccountingV1/srv3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:555/srv.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/AccountingService.Models" />
  <xs:element name="OpenNew">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="issuerEntityID" type="xs:int" />
        <xs:element minOccurs="0" name="receiverEntityID" type="xs:int" />
        <xs:element minOccurs="0" name="currencyID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OpenNewResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getInvoiceServicesSumAmt">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getInvoiceServicesSumAmtResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getInvoiceServicesSumAmtResult" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="finalizeInvoice">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="finalizeInvoiceResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="add">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="serviceID" type="xs:int" />
        <xs:element minOccurs="0" name="amount" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/AccountingService.Models" minOccurs="0" name="addResult" nillable="true" type="q1:invoiceService" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>