projects/WCFTEST/client/Service References/ADAuthPAT/AuthService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://10.143.250.156:88/AuthService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ADAuthService.classes" />
  <xs:import schemaLocation="http://10.143.250.156:88/AuthService.svc?xsd=xsd3" namespace="http://10.143.250.156:88/AuthData" />
  <xs:element name="IsAuthenticated">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pwd" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsAuthenticatedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ADAuthService.classes" minOccurs="0" name="IsAuthenticatedResult" nillable="true" type="q1:AuthserviceDataResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsAuthenticatedPost">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://10.143.250.156:88/AuthData" minOccurs="0" name="data" nillable="true" type="q2:AuthData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsAuthenticatedPostResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ADAuthService.classes" minOccurs="0" name="IsAuthenticatedPostResult" nillable="true" type="q3:AuthserviceDataResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>