projects/Apps/AccountingSrv/AccountingServiceClient/Service References/ServiceReference1/AccountingV11.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="AccountingV1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:555/srv.svc/Accounting/meta?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:555/srv.svc/Accounting/meta?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:555/srv.svc/Accounting/meta?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/accounting.classes" />
      <xsd:import schemaLocation="http://localhost:555/srv.svc/Accounting/meta?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/AccountingLib.Models" />
      <xsd:import schemaLocation="http://localhost:555/srv.svc/Accounting/meta?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" />
      <xsd:import schemaLocation="http://localhost:555/srv.svc/Accounting/meta?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/System.Data" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAccountingV1_reset_InputMessage">
    <wsdl:part name="parameters" element="tns:reset" />
  </wsdl:message>
  <wsdl:message name="IAccountingV1_reset_OutputMessage">
    <wsdl:part name="parameters" element="tns:resetResponse" />
  </wsdl:message>
  <wsdl:message name="IAccountingV1_newCustomer_InputMessage">
    <wsdl:part name="parameters" element="tns:newCustomer" />
  </wsdl:message>
  <wsdl:message name="IAccountingV1_newCustomer_OutputMessage">
    <wsdl:part name="parameters" element="tns:newCustomerResponse" />
  </wsdl:message>
  <wsdl:message name="IAccountingV1_createService_InputMessage">
    <wsdl:part name="parameters" element="tns:createService" />
  </wsdl:message>
  <wsdl:message name="IAccountingV1_createService_OutputMessage">
    <wsdl:part name="parameters" element="tns:createServiceResponse" />
  </wsdl:message>
  <wsdl:message name="IAccountingV1_createinvoice_InputMessage">
    <wsdl:part name="parameters" element="tns:createinvoice" />
  </wsdl:message>
  <wsdl:message name="IAccountingV1_createinvoice_OutputMessage">
    <wsdl:part name="parameters" element="tns:createinvoiceResponse" />
  </wsdl:message>
  <wsdl:message name="IAccountingV1_createInvoiceService_InputMessage">
    <wsdl:part name="parameters" element="tns:createInvoiceService" />
  </wsdl:message>
  <wsdl:message name="IAccountingV1_createInvoiceService_OutputMessage">
    <wsdl:part name="parameters" element="tns:createInvoiceServiceResponse" />
  </wsdl:message>
  <wsdl:message name="IAccountingV1_finalizeInvoice_InputMessage">
    <wsdl:part name="parameters" element="tns:finalizeInvoice" />
  </wsdl:message>
  <wsdl:message name="IAccountingV1_finalizeInvoice_OutputMessage">
    <wsdl:part name="parameters" element="tns:finalizeInvoiceResponse" />
  </wsdl:message>
  <wsdl:message name="IAccountingV1_createBank_InputMessage">
    <wsdl:part name="parameters" element="tns:createBank" />
  </wsdl:message>
  <wsdl:message name="IAccountingV1_createBank_OutputMessage">
    <wsdl:part name="parameters" element="tns:createBankResponse" />
  </wsdl:message>
  <wsdl:message name="IAccountingV1_setFeeForIntracCardType_InputMessage">
    <wsdl:part name="parameters" element="tns:setFeeForIntracCardType" />
  </wsdl:message>
  <wsdl:message name="IAccountingV1_setFeeForIntracCardType_OutputMessage">
    <wsdl:part name="parameters" element="tns:setFeeForIntracCardTypeResponse" />
  </wsdl:message>
  <wsdl:message name="IAccountingV1_setFeeForCreditCardType_InputMessage">
    <wsdl:part name="parameters" element="tns:setFeeForCreditCardType" />
  </wsdl:message>
  <wsdl:message name="IAccountingV1_setFeeForCreditCardType_OutputMessage">
    <wsdl:part name="parameters" element="tns:setFeeForCreditCardTypeResponse" />
  </wsdl:message>
  <wsdl:message name="IAccountingV1_createMasterCard_InputMessage">
    <wsdl:part name="parameters" element="tns:createMasterCard" />
  </wsdl:message>
  <wsdl:message name="IAccountingV1_createMasterCard_OutputMessage">
    <wsdl:part name="parameters" element="tns:createMasterCardResponse" />
  </wsdl:message>
  <wsdl:message name="IAccountingV1_createVisaCard_InputMessage">
    <wsdl:part name="parameters" element="tns:createVisaCard" />
  </wsdl:message>
  <wsdl:message name="IAccountingV1_createVisaCard_OutputMessage">
    <wsdl:part name="parameters" element="tns:createVisaCardResponse" />
  </wsdl:message>
  <wsdl:message name="IAccountingV1_createDebitCard_InputMessage">
    <wsdl:part name="parameters" element="tns:createDebitCard" />
  </wsdl:message>
  <wsdl:message name="IAccountingV1_createDebitCard_OutputMessage">
    <wsdl:part name="parameters" element="tns:createDebitCardResponse" />
  </wsdl:message>
  <wsdl:message name="IAccountingV1_assignCardToBank_InputMessage">
    <wsdl:part name="parameters" element="tns:assignCardToBank" />
  </wsdl:message>
  <wsdl:message name="IAccountingV1_assignCardToBank_OutputMessage">
    <wsdl:part name="parameters" element="tns:assignCardToBankResponse" />
  </wsdl:message>
  <wsdl:message name="IAccountingV1_assignCardToPerson_InputMessage">
    <wsdl:part name="parameters" element="tns:assignCardToPerson" />
  </wsdl:message>
  <wsdl:message name="IAccountingV1_assignCardToPerson_OutputMessage">
    <wsdl:part name="parameters" element="tns:assignCardToPersonResponse" />
  </wsdl:message>
  <wsdl:message name="IAccountingV1_addWalletMoney_InputMessage">
    <wsdl:part name="parameters" element="tns:addWalletMoney" />
  </wsdl:message>
  <wsdl:message name="IAccountingV1_addWalletMoney_OutputMessage">
    <wsdl:part name="parameters" element="tns:addWalletMoneyResponse" />
  </wsdl:message>
  <wsdl:message name="IAccountingV1_getInvoiceServicesSumAmt_InputMessage">
    <wsdl:part name="parameters" element="tns:getInvoiceServicesSumAmt" />
  </wsdl:message>
  <wsdl:message name="IAccountingV1_getInvoiceServicesSumAmt_OutputMessage">
    <wsdl:part name="parameters" element="tns:getInvoiceServicesSumAmtResponse" />
  </wsdl:message>
  <wsdl:message name="IAccountingV1_payInvoiceByCC_InputMessage">
    <wsdl:part name="parameters" element="tns:payInvoiceByCC" />
  </wsdl:message>
  <wsdl:message name="IAccountingV1_payInvoiceByCC_OutputMessage">
    <wsdl:part name="parameters" element="tns:payInvoiceByCCResponse" />
  </wsdl:message>
  <wsdl:message name="IAccountingV1_payInvoiceByInterac_InputMessage">
    <wsdl:part name="parameters" element="tns:payInvoiceByInterac" />
  </wsdl:message>
  <wsdl:message name="IAccountingV1_payInvoiceByInterac_OutputMessage">
    <wsdl:part name="parameters" element="tns:payInvoiceByInteracResponse" />
  </wsdl:message>
  <wsdl:message name="IAccountingV1_payInvoiceByInternal_InputMessage">
    <wsdl:part name="parameters" element="tns:payInvoiceByInternal" />
  </wsdl:message>
  <wsdl:message name="IAccountingV1_payInvoiceByInternal_OutputMessage">
    <wsdl:part name="parameters" element="tns:payInvoiceByInternalResponse" />
  </wsdl:message>
  <wsdl:message name="IAccountingV1_cancelInvoicePaymentEXT_InputMessage">
    <wsdl:part name="parameters" element="tns:cancelInvoicePaymentEXT" />
  </wsdl:message>
  <wsdl:message name="IAccountingV1_cancelInvoicePaymentEXT_OutputMessage">
    <wsdl:part name="parameters" element="tns:cancelInvoicePaymentEXTResponse" />
  </wsdl:message>
  <wsdl:message name="IAccountingV1_cancelInvoicePaymentINTERNAL_InputMessage">
    <wsdl:part name="parameters" element="tns:cancelInvoicePaymentINTERNAL" />
  </wsdl:message>
  <wsdl:message name="IAccountingV1_cancelInvoicePaymentINTERNAL_OutputMessage">
    <wsdl:part name="parameters" element="tns:cancelInvoicePaymentINTERNALResponse" />
  </wsdl:message>
  <wsdl:message name="IAccountingV1_cancelInvoice_InputMessage">
    <wsdl:part name="parameters" element="tns:cancelInvoice" />
  </wsdl:message>
  <wsdl:message name="IAccountingV1_cancelInvoice_OutputMessage">
    <wsdl:part name="parameters" element="tns:cancelInvoiceResponse" />
  </wsdl:message>
  <wsdl:portType name="IAccountingV1">
    <wsdl:operation name="reset">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountingV1/reset" message="tns:IAccountingV1_reset_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountingV1/resetResponse" message="tns:IAccountingV1_reset_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="newCustomer">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountingV1/newCustomer" message="tns:IAccountingV1_newCustomer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountingV1/newCustomerResponse" message="tns:IAccountingV1_newCustomer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="createService">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountingV1/createService" message="tns:IAccountingV1_createService_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountingV1/createServiceResponse" message="tns:IAccountingV1_createService_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="createinvoice">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountingV1/createinvoice" message="tns:IAccountingV1_createinvoice_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountingV1/createinvoiceResponse" message="tns:IAccountingV1_createinvoice_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="createInvoiceService">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountingV1/createInvoiceService" message="tns:IAccountingV1_createInvoiceService_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountingV1/createInvoiceServiceResponse" message="tns:IAccountingV1_createInvoiceService_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="finalizeInvoice">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountingV1/finalizeInvoice" message="tns:IAccountingV1_finalizeInvoice_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountingV1/finalizeInvoiceResponse" message="tns:IAccountingV1_finalizeInvoice_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="createBank">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountingV1/createBank" message="tns:IAccountingV1_createBank_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountingV1/createBankResponse" message="tns:IAccountingV1_createBank_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="setFeeForIntracCardType">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountingV1/setFeeForIntracCardType" message="tns:IAccountingV1_setFeeForIntracCardType_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountingV1/setFeeForIntracCardTypeResponse" message="tns:IAccountingV1_setFeeForIntracCardType_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="setFeeForCreditCardType">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountingV1/setFeeForCreditCardType" message="tns:IAccountingV1_setFeeForCreditCardType_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountingV1/setFeeForCreditCardTypeResponse" message="tns:IAccountingV1_setFeeForCreditCardType_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="createMasterCard">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountingV1/createMasterCard" message="tns:IAccountingV1_createMasterCard_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountingV1/createMasterCardResponse" message="tns:IAccountingV1_createMasterCard_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="createVisaCard">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountingV1/createVisaCard" message="tns:IAccountingV1_createVisaCard_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountingV1/createVisaCardResponse" message="tns:IAccountingV1_createVisaCard_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="createDebitCard">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountingV1/createDebitCard" message="tns:IAccountingV1_createDebitCard_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountingV1/createDebitCardResponse" message="tns:IAccountingV1_createDebitCard_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="assignCardToBank">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountingV1/assignCardToBank" message="tns:IAccountingV1_assignCardToBank_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountingV1/assignCardToBankResponse" message="tns:IAccountingV1_assignCardToBank_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="assignCardToPerson">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountingV1/assignCardToPerson" message="tns:IAccountingV1_assignCardToPerson_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountingV1/assignCardToPersonResponse" message="tns:IAccountingV1_assignCardToPerson_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="addWalletMoney">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountingV1/addWalletMoney" message="tns:IAccountingV1_addWalletMoney_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountingV1/addWalletMoneyResponse" message="tns:IAccountingV1_addWalletMoney_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getInvoiceServicesSumAmt">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountingV1/getInvoiceServicesSumAmt" message="tns:IAccountingV1_getInvoiceServicesSumAmt_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountingV1/getInvoiceServicesSumAmtResponse" message="tns:IAccountingV1_getInvoiceServicesSumAmt_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="payInvoiceByCC">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountingV1/payInvoiceByCC" message="tns:IAccountingV1_payInvoiceByCC_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountingV1/payInvoiceByCCResponse" message="tns:IAccountingV1_payInvoiceByCC_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="payInvoiceByInterac">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountingV1/payInvoiceByInterac" message="tns:IAccountingV1_payInvoiceByInterac_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountingV1/payInvoiceByInteracResponse" message="tns:IAccountingV1_payInvoiceByInterac_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="payInvoiceByInternal">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountingV1/payInvoiceByInternal" message="tns:IAccountingV1_payInvoiceByInternal_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountingV1/payInvoiceByInternalResponse" message="tns:IAccountingV1_payInvoiceByInternal_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="cancelInvoicePaymentEXT">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountingV1/cancelInvoicePaymentEXT" message="tns:IAccountingV1_cancelInvoicePaymentEXT_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountingV1/cancelInvoicePaymentEXTResponse" message="tns:IAccountingV1_cancelInvoicePaymentEXT_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="cancelInvoicePaymentINTERNAL">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountingV1/cancelInvoicePaymentINTERNAL" message="tns:IAccountingV1_cancelInvoicePaymentINTERNAL_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountingV1/cancelInvoicePaymentINTERNALResponse" message="tns:IAccountingV1_cancelInvoicePaymentINTERNAL_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="cancelInvoice">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountingV1/cancelInvoice" message="tns:IAccountingV1_cancelInvoice_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountingV1/cancelInvoiceResponse" message="tns:IAccountingV1_cancelInvoice_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IAccountingV1" type="tns:IAccountingV1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="reset">
      <soap:operation soapAction="http://tempuri.org/IAccountingV1/reset" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="newCustomer">
      <soap:operation soapAction="http://tempuri.org/IAccountingV1/newCustomer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createService">
      <soap:operation soapAction="http://tempuri.org/IAccountingV1/createService" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createinvoice">
      <soap:operation soapAction="http://tempuri.org/IAccountingV1/createinvoice" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createInvoiceService">
      <soap:operation soapAction="http://tempuri.org/IAccountingV1/createInvoiceService" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="finalizeInvoice">
      <soap:operation soapAction="http://tempuri.org/IAccountingV1/finalizeInvoice" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createBank">
      <soap:operation soapAction="http://tempuri.org/IAccountingV1/createBank" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setFeeForIntracCardType">
      <soap:operation soapAction="http://tempuri.org/IAccountingV1/setFeeForIntracCardType" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setFeeForCreditCardType">
      <soap:operation soapAction="http://tempuri.org/IAccountingV1/setFeeForCreditCardType" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createMasterCard">
      <soap:operation soapAction="http://tempuri.org/IAccountingV1/createMasterCard" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createVisaCard">
      <soap:operation soapAction="http://tempuri.org/IAccountingV1/createVisaCard" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createDebitCard">
      <soap:operation soapAction="http://tempuri.org/IAccountingV1/createDebitCard" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="assignCardToBank">
      <soap:operation soapAction="http://tempuri.org/IAccountingV1/assignCardToBank" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="assignCardToPerson">
      <soap:operation soapAction="http://tempuri.org/IAccountingV1/assignCardToPerson" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addWalletMoney">
      <soap:operation soapAction="http://tempuri.org/IAccountingV1/addWalletMoney" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getInvoiceServicesSumAmt">
      <soap:operation soapAction="http://tempuri.org/IAccountingV1/getInvoiceServicesSumAmt" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="payInvoiceByCC">
      <soap:operation soapAction="http://tempuri.org/IAccountingV1/payInvoiceByCC" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="payInvoiceByInterac">
      <soap:operation soapAction="http://tempuri.org/IAccountingV1/payInvoiceByInterac" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="payInvoiceByInternal">
      <soap:operation soapAction="http://tempuri.org/IAccountingV1/payInvoiceByInternal" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cancelInvoicePaymentEXT">
      <soap:operation soapAction="http://tempuri.org/IAccountingV1/cancelInvoicePaymentEXT" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cancelInvoicePaymentINTERNAL">
      <soap:operation soapAction="http://tempuri.org/IAccountingV1/cancelInvoicePaymentINTERNAL" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cancelInvoice">
      <soap:operation soapAction="http://tempuri.org/IAccountingV1/cancelInvoice" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AccountingV1">
    <wsdl:port name="BasicHttpBinding_IAccountingV1" binding="tns:BasicHttpBinding_IAccountingV1">
      <soap:address location="http://localhost:555/srv.svc/I1" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>