WCFTEST/client/Service References/ADAuthPAT/AuthService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ADAuthService2" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ADAuthService2" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="AuthserviceDataResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="groups" nillable="true" type="tns:ArrayOfAuthserviceUserGroup" />
      <xs:element minOccurs="0" name="status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AuthserviceDataResult" nillable="true" type="tns:AuthserviceDataResult" />
  <xs:complexType name="ArrayOfAuthserviceUserGroup">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AuthserviceUserGroup" nillable="true" type="tns:AuthserviceUserGroup" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAuthserviceUserGroup" nillable="true" type="tns:ArrayOfAuthserviceUserGroup" />
  <xs:complexType name="AuthserviceUserGroup">
    <xs:sequence>
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AuthserviceUserGroup" nillable="true" type="tns:AuthserviceUserGroup" />
</xs:schema>