projects/Apps/AccountingSrv/AccountingServiceClient/Service References/ServiceReferenceAzure/meta1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://ryanapp1.azurewebsites.net/srv.svc/Accounting/meta?xsd=xsd2" namespace="http://domain/testData" />
  <xs:element name="getInvoiceServicesSumAmt">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getInvoiceServicesSumAmtResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://domain/testData" minOccurs="0" name="getInvoiceServicesSumAmtResult" nillable="true" type="q1:Invoice" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>