projects/Apps/AccountingSrv/AccountingServiceClient/Service References/ServiceReferenceAzure/meta2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://domain/testData" elementFormDefault="qualified" targetNamespace="http://domain/testData" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Invoice">
    <xs:sequence>
      <xs:element minOccurs="0" name="currencyID" type="xs:int" />
      <xs:element minOccurs="0" name="invoiceID" type="xs:int" />
      <xs:element minOccurs="0" name="issuerEntityID" type="xs:int" />
      <xs:element minOccurs="0" name="receiverEntityID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Invoice" nillable="true" type="tns:Invoice" />
</xs:schema>