projects/WCF Bundle/clientWCFBydll/Service References/HelloServiceReference/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://test.com/Interface1/spec" />
  <xs:element name="addSpec">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://test.com/Interface1/spec" minOccurs="0" name="spec" nillable="true" type="q1:spec" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addSpecResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://test.com/Interface1/spec" minOccurs="0" name="addSpecResult" nillable="true" type="q2:spec" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getSpecs">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getSpecsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://test.com/Interface1/spec" minOccurs="0" name="getSpecsResult" nillable="true" type="q3:ArrayOfspec" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getSpecByName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getSpecByNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://test.com/Interface1/spec" minOccurs="0" name="getSpecByNameResult" nillable="true" type="q4:spec" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteSpec">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteSpecResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>