projects/FinalWork/Themes/Service References/TskMgmtService/host.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://domain/Data" elementFormDefault="qualified" targetNamespace="http://domain/Data" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOforganization">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="organization" nillable="true" type="tns:organization" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOforganization" nillable="true" type="tns:ArrayOforganization" />
  <xs:complexType name="organization">
    <xs:sequence>
      <xs:element minOccurs="0" name="children" nillable="true" type="tns:ArrayOforganization" />
      <xs:element minOccurs="0" name="city" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="logo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="org_id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="org_name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="parent_org_id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="postalcode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="street" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="organization" nillable="true" type="tns:organization" />
</xs:schema>