projects/FinalWork/Themes/Service References/TskMgmtService/host4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:99/host.svc?xsd=xsd2" namespace="http://domain/Data" />
  <xs:import schemaLocation="http://localhost:99/host.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/TskMgmtSrv.Models" />
  <xs:import schemaLocation="http://localhost:99/host.svc?xsd=xsd6" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="json_readWorkFlow">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="json_readWorkFlowResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://domain/Data" minOccurs="0" name="json_readWorkFlowResult" nillable="true" type="q1:ArrayOforganization" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RecTree">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://domain/Data" minOccurs="0" name="node" nillable="true" type="q2:organization" />
        <xs:element minOccurs="0" name="dt" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RecTreeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="json_saveNewTask">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pars" nillable="true" type="xs:anyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="json_saveNewTaskResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="json_saveNewTaskResult" nillable="true" type="xs:anyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="json_getOfficeUsers">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pars" nillable="true" type="xs:anyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="json_getOfficeUsersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="json_getOfficeUsersResult" nillable="true" type="xs:anyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="json_saveUserSequence">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pars" nillable="true" type="xs:anyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="json_saveUserSequenceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="json_saveUserSequenceResult" nillable="true" type="xs:anyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="json_getTaskAssignedUsers">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pars" nillable="true" type="xs:anyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="json_getTaskAssignedUsersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="json_getTaskAssignedUsersResult" nillable="true" type="xs:anyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="json_updateTaskProgress">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pars" nillable="true" type="xs:anyType" />
        <xs:element minOccurs="0" name="curPersonID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="json_updateTaskProgressResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="json_updateTaskProgressResult" nillable="true" type="xs:anyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="json_saveNewTaskStat">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pars" nillable="true" type="xs:anyType" />
        <xs:element minOccurs="0" name="curPersonID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="json_saveNewTaskStatResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="json_saveNewTaskStatResult" nillable="true" type="xs:anyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="json_finalizeTaskPerson">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pars" nillable="true" type="xs:anyType" />
        <xs:element minOccurs="0" name="curPersonID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="json_finalizeTaskPersonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="json_finalizeTaskPersonResult" nillable="true" type="xs:anyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getTaskInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="task_id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getTaskInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getTaskInfoResult" nillable="true" type="xs:anyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCurTaskPerson">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="task_id" type="xs:int" />
        <xs:element minOccurs="0" name="person_id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCurTaskPersonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/TskMgmtSrv.Models" minOccurs="0" name="getCurTaskPersonResult" nillable="true" type="q3:ArrayOftask_person" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCurUserTimeTrackerHistory">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="task_id" type="xs:int" />
        <xs:element minOccurs="0" name="person_id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCurUserTimeTrackerHistoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="getCurUserTimeTrackerHistoryResult" nillable="true" type="q4:ArrayOfanyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getTaskPersontimerStat">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="task_id" type="xs:int" />
        <xs:element minOccurs="0" name="person_id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getTaskPersontimerStatResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getTaskPersontimerStatResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getTaskAssignedUsers">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="task_id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getTaskAssignedUsersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="getTaskAssignedUsersResult" nillable="true" type="q5:ArrayOfanyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getExistingOffices">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getExistingOfficesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="getExistingOfficesResult" nillable="true" type="q6:ArrayOfanyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getExistingOfficeUsers">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="org_id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getExistingOfficeUsersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="getExistingOfficeUsersResult" nillable="true" type="q7:ArrayOfanyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getUserCurrentTasks">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="person_id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getUserCurrentTasksResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="getUserCurrentTasksResult" nillable="true" type="q8:ArrayOfanyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>