projects/FinalWork/Themes/Service References/TskMgmtService/TskMgmtservice.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="TskMgmtservice" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:99/host.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:99/host.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:99/host.svc?xsd=xsd2" namespace="http://domain/Data" />
      <xsd:import schemaLocation="http://localhost:99/host.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.Data" />
      <xsd:import schemaLocation="http://localhost:99/host.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/TskMgmtSrv.Models" />
      <xsd:import schemaLocation="http://localhost:99/host.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" />
      <xsd:import schemaLocation="http://localhost:99/host.svc?xsd=xsd6" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ITskMgmtservice_json_readWorkFlow_InputMessage">
    <wsdl:part name="parameters" element="tns:json_readWorkFlow" />
  </wsdl:message>
  <wsdl:message name="ITskMgmtservice_json_readWorkFlow_OutputMessage">
    <wsdl:part name="parameters" element="tns:json_readWorkFlowResponse" />
  </wsdl:message>
  <wsdl:message name="ITskMgmtservice_RecTree_InputMessage">
    <wsdl:part name="parameters" element="tns:RecTree" />
  </wsdl:message>
  <wsdl:message name="ITskMgmtservice_RecTree_OutputMessage">
    <wsdl:part name="parameters" element="tns:RecTreeResponse" />
  </wsdl:message>
  <wsdl:message name="ITskMgmtservice_json_saveNewTask_InputMessage">
    <wsdl:part name="parameters" element="tns:json_saveNewTask" />
  </wsdl:message>
  <wsdl:message name="ITskMgmtservice_json_saveNewTask_OutputMessage">
    <wsdl:part name="parameters" element="tns:json_saveNewTaskResponse" />
  </wsdl:message>
  <wsdl:message name="ITskMgmtservice_json_getOfficeUsers_InputMessage">
    <wsdl:part name="parameters" element="tns:json_getOfficeUsers" />
  </wsdl:message>
  <wsdl:message name="ITskMgmtservice_json_getOfficeUsers_OutputMessage">
    <wsdl:part name="parameters" element="tns:json_getOfficeUsersResponse" />
  </wsdl:message>
  <wsdl:message name="ITskMgmtservice_json_saveUserSequence_InputMessage">
    <wsdl:part name="parameters" element="tns:json_saveUserSequence" />
  </wsdl:message>
  <wsdl:message name="ITskMgmtservice_json_saveUserSequence_OutputMessage">
    <wsdl:part name="parameters" element="tns:json_saveUserSequenceResponse" />
  </wsdl:message>
  <wsdl:message name="ITskMgmtservice_json_getTaskAssignedUsers_InputMessage">
    <wsdl:part name="parameters" element="tns:json_getTaskAssignedUsers" />
  </wsdl:message>
  <wsdl:message name="ITskMgmtservice_json_getTaskAssignedUsers_OutputMessage">
    <wsdl:part name="parameters" element="tns:json_getTaskAssignedUsersResponse" />
  </wsdl:message>
  <wsdl:message name="ITskMgmtservice_json_updateTaskProgress_InputMessage">
    <wsdl:part name="parameters" element="tns:json_updateTaskProgress" />
  </wsdl:message>
  <wsdl:message name="ITskMgmtservice_json_updateTaskProgress_OutputMessage">
    <wsdl:part name="parameters" element="tns:json_updateTaskProgressResponse" />
  </wsdl:message>
  <wsdl:message name="ITskMgmtservice_json_saveNewTaskStat_InputMessage">
    <wsdl:part name="parameters" element="tns:json_saveNewTaskStat" />
  </wsdl:message>
  <wsdl:message name="ITskMgmtservice_json_saveNewTaskStat_OutputMessage">
    <wsdl:part name="parameters" element="tns:json_saveNewTaskStatResponse" />
  </wsdl:message>
  <wsdl:message name="ITskMgmtservice_json_finalizeTaskPerson_InputMessage">
    <wsdl:part name="parameters" element="tns:json_finalizeTaskPerson" />
  </wsdl:message>
  <wsdl:message name="ITskMgmtservice_json_finalizeTaskPerson_OutputMessage">
    <wsdl:part name="parameters" element="tns:json_finalizeTaskPersonResponse" />
  </wsdl:message>
  <wsdl:message name="ITskMgmtservice_getTaskInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:getTaskInfo" />
  </wsdl:message>
  <wsdl:message name="ITskMgmtservice_getTaskInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:getTaskInfoResponse" />
  </wsdl:message>
  <wsdl:message name="ITskMgmtservice_getCurTaskPerson_InputMessage">
    <wsdl:part name="parameters" element="tns:getCurTaskPerson" />
  </wsdl:message>
  <wsdl:message name="ITskMgmtservice_getCurTaskPerson_OutputMessage">
    <wsdl:part name="parameters" element="tns:getCurTaskPersonResponse" />
  </wsdl:message>
  <wsdl:message name="ITskMgmtservice_getCurUserTimeTrackerHistory_InputMessage">
    <wsdl:part name="parameters" element="tns:getCurUserTimeTrackerHistory" />
  </wsdl:message>
  <wsdl:message name="ITskMgmtservice_getCurUserTimeTrackerHistory_OutputMessage">
    <wsdl:part name="parameters" element="tns:getCurUserTimeTrackerHistoryResponse" />
  </wsdl:message>
  <wsdl:message name="ITskMgmtservice_getTaskPersontimerStat_InputMessage">
    <wsdl:part name="parameters" element="tns:getTaskPersontimerStat" />
  </wsdl:message>
  <wsdl:message name="ITskMgmtservice_getTaskPersontimerStat_OutputMessage">
    <wsdl:part name="parameters" element="tns:getTaskPersontimerStatResponse" />
  </wsdl:message>
  <wsdl:message name="ITskMgmtservice_getTaskAssignedUsers_InputMessage">
    <wsdl:part name="parameters" element="tns:getTaskAssignedUsers" />
  </wsdl:message>
  <wsdl:message name="ITskMgmtservice_getTaskAssignedUsers_OutputMessage">
    <wsdl:part name="parameters" element="tns:getTaskAssignedUsersResponse" />
  </wsdl:message>
  <wsdl:message name="ITskMgmtservice_getExistingOffices_InputMessage">
    <wsdl:part name="parameters" element="tns:getExistingOffices" />
  </wsdl:message>
  <wsdl:message name="ITskMgmtservice_getExistingOffices_OutputMessage">
    <wsdl:part name="parameters" element="tns:getExistingOfficesResponse" />
  </wsdl:message>
  <wsdl:message name="ITskMgmtservice_getExistingOfficeUsers_InputMessage">
    <wsdl:part name="parameters" element="tns:getExistingOfficeUsers" />
  </wsdl:message>
  <wsdl:message name="ITskMgmtservice_getExistingOfficeUsers_OutputMessage">
    <wsdl:part name="parameters" element="tns:getExistingOfficeUsersResponse" />
  </wsdl:message>
  <wsdl:message name="ITskMgmtservice_getUserCurrentTasks_InputMessage">
    <wsdl:part name="parameters" element="tns:getUserCurrentTasks" />
  </wsdl:message>
  <wsdl:message name="ITskMgmtservice_getUserCurrentTasks_OutputMessage">
    <wsdl:part name="parameters" element="tns:getUserCurrentTasksResponse" />
  </wsdl:message>
  <wsdl:portType name="ITskMgmtservice">
    <wsdl:operation name="json_readWorkFlow">
      <wsdl:input wsaw:Action="http://tempuri.org/ITskMgmtservice/json_readWorkFlow" message="tns:ITskMgmtservice_json_readWorkFlow_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITskMgmtservice/json_readWorkFlowResponse" message="tns:ITskMgmtservice_json_readWorkFlow_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RecTree">
      <wsdl:input wsaw:Action="http://tempuri.org/ITskMgmtservice/RecTree" message="tns:ITskMgmtservice_RecTree_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITskMgmtservice/RecTreeResponse" message="tns:ITskMgmtservice_RecTree_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="json_saveNewTask">
      <wsdl:input wsaw:Action="http://tempuri.org/ITskMgmtservice/json_saveNewTask" message="tns:ITskMgmtservice_json_saveNewTask_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITskMgmtservice/json_saveNewTaskResponse" message="tns:ITskMgmtservice_json_saveNewTask_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="json_getOfficeUsers">
      <wsdl:input wsaw:Action="http://tempuri.org/ITskMgmtservice/json_getOfficeUsers" message="tns:ITskMgmtservice_json_getOfficeUsers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITskMgmtservice/json_getOfficeUsersResponse" message="tns:ITskMgmtservice_json_getOfficeUsers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="json_saveUserSequence">
      <wsdl:input wsaw:Action="http://tempuri.org/ITskMgmtservice/json_saveUserSequence" message="tns:ITskMgmtservice_json_saveUserSequence_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITskMgmtservice/json_saveUserSequenceResponse" message="tns:ITskMgmtservice_json_saveUserSequence_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="json_getTaskAssignedUsers">
      <wsdl:input wsaw:Action="http://tempuri.org/ITskMgmtservice/json_getTaskAssignedUsers" message="tns:ITskMgmtservice_json_getTaskAssignedUsers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITskMgmtservice/json_getTaskAssignedUsersResponse" message="tns:ITskMgmtservice_json_getTaskAssignedUsers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="json_updateTaskProgress">
      <wsdl:input wsaw:Action="http://tempuri.org/ITskMgmtservice/json_updateTaskProgress" message="tns:ITskMgmtservice_json_updateTaskProgress_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITskMgmtservice/json_updateTaskProgressResponse" message="tns:ITskMgmtservice_json_updateTaskProgress_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="json_saveNewTaskStat">
      <wsdl:input wsaw:Action="http://tempuri.org/ITskMgmtservice/json_saveNewTaskStat" message="tns:ITskMgmtservice_json_saveNewTaskStat_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITskMgmtservice/json_saveNewTaskStatResponse" message="tns:ITskMgmtservice_json_saveNewTaskStat_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="json_finalizeTaskPerson">
      <wsdl:input wsaw:Action="http://tempuri.org/ITskMgmtservice/json_finalizeTaskPerson" message="tns:ITskMgmtservice_json_finalizeTaskPerson_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITskMgmtservice/json_finalizeTaskPersonResponse" message="tns:ITskMgmtservice_json_finalizeTaskPerson_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getTaskInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/ITskMgmtservice/getTaskInfo" message="tns:ITskMgmtservice_getTaskInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITskMgmtservice/getTaskInfoResponse" message="tns:ITskMgmtservice_getTaskInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getCurTaskPerson">
      <wsdl:input wsaw:Action="http://tempuri.org/ITskMgmtservice/getCurTaskPerson" message="tns:ITskMgmtservice_getCurTaskPerson_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITskMgmtservice/getCurTaskPersonResponse" message="tns:ITskMgmtservice_getCurTaskPerson_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getCurUserTimeTrackerHistory">
      <wsdl:input wsaw:Action="http://tempuri.org/ITskMgmtservice/getCurUserTimeTrackerHistory" message="tns:ITskMgmtservice_getCurUserTimeTrackerHistory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITskMgmtservice/getCurUserTimeTrackerHistoryResponse" message="tns:ITskMgmtservice_getCurUserTimeTrackerHistory_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getTaskPersontimerStat">
      <wsdl:input wsaw:Action="http://tempuri.org/ITskMgmtservice/getTaskPersontimerStat" message="tns:ITskMgmtservice_getTaskPersontimerStat_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITskMgmtservice/getTaskPersontimerStatResponse" message="tns:ITskMgmtservice_getTaskPersontimerStat_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getTaskAssignedUsers">
      <wsdl:input wsaw:Action="http://tempuri.org/ITskMgmtservice/getTaskAssignedUsers" message="tns:ITskMgmtservice_getTaskAssignedUsers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITskMgmtservice/getTaskAssignedUsersResponse" message="tns:ITskMgmtservice_getTaskAssignedUsers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getExistingOffices">
      <wsdl:input wsaw:Action="http://tempuri.org/ITskMgmtservice/getExistingOffices" message="tns:ITskMgmtservice_getExistingOffices_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITskMgmtservice/getExistingOfficesResponse" message="tns:ITskMgmtservice_getExistingOffices_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getExistingOfficeUsers">
      <wsdl:input wsaw:Action="http://tempuri.org/ITskMgmtservice/getExistingOfficeUsers" message="tns:ITskMgmtservice_getExistingOfficeUsers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITskMgmtservice/getExistingOfficeUsersResponse" message="tns:ITskMgmtservice_getExistingOfficeUsers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getUserCurrentTasks">
      <wsdl:input wsaw:Action="http://tempuri.org/ITskMgmtservice/getUserCurrentTasks" message="tns:ITskMgmtservice_getUserCurrentTasks_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITskMgmtservice/getUserCurrentTasksResponse" message="tns:ITskMgmtservice_getUserCurrentTasks_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ITskMgmtservice" type="tns:ITskMgmtservice">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="json_readWorkFlow">
      <soap:operation soapAction="http://tempuri.org/ITskMgmtservice/json_readWorkFlow" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RecTree">
      <soap:operation soapAction="http://tempuri.org/ITskMgmtservice/RecTree" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="json_saveNewTask">
      <soap:operation soapAction="http://tempuri.org/ITskMgmtservice/json_saveNewTask" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="json_getOfficeUsers">
      <soap:operation soapAction="http://tempuri.org/ITskMgmtservice/json_getOfficeUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="json_saveUserSequence">
      <soap:operation soapAction="http://tempuri.org/ITskMgmtservice/json_saveUserSequence" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="json_getTaskAssignedUsers">
      <soap:operation soapAction="http://tempuri.org/ITskMgmtservice/json_getTaskAssignedUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="json_updateTaskProgress">
      <soap:operation soapAction="http://tempuri.org/ITskMgmtservice/json_updateTaskProgress" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="json_saveNewTaskStat">
      <soap:operation soapAction="http://tempuri.org/ITskMgmtservice/json_saveNewTaskStat" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="json_finalizeTaskPerson">
      <soap:operation soapAction="http://tempuri.org/ITskMgmtservice/json_finalizeTaskPerson" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getTaskInfo">
      <soap:operation soapAction="http://tempuri.org/ITskMgmtservice/getTaskInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCurTaskPerson">
      <soap:operation soapAction="http://tempuri.org/ITskMgmtservice/getCurTaskPerson" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCurUserTimeTrackerHistory">
      <soap:operation soapAction="http://tempuri.org/ITskMgmtservice/getCurUserTimeTrackerHistory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getTaskPersontimerStat">
      <soap:operation soapAction="http://tempuri.org/ITskMgmtservice/getTaskPersontimerStat" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getTaskAssignedUsers">
      <soap:operation soapAction="http://tempuri.org/ITskMgmtservice/getTaskAssignedUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getExistingOffices">
      <soap:operation soapAction="http://tempuri.org/ITskMgmtservice/getExistingOffices" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getExistingOfficeUsers">
      <soap:operation soapAction="http://tempuri.org/ITskMgmtservice/getExistingOfficeUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUserCurrentTasks">
      <soap:operation soapAction="http://tempuri.org/ITskMgmtservice/getUserCurrentTasks" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TskMgmtservice">
    <wsdl:port name="BasicHttpBinding_ITskMgmtservice" binding="tns:BasicHttpBinding_ITskMgmtservice">
      <soap:address location="http://localhost:99/host.svc/basic" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>