WCFTEST/client/Service References/ServiceReference1/customService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://domain/Data" elementFormDefault="qualified" targetNamespace="http://domain/Data" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Data">
    <xs:sequence>
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Data" nillable="true" type="tns:Data" />
  <xs:complexType name="ArrayOfData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Data" nillable="true" type="tns:Data" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfData" nillable="true" type="tns:ArrayOfData" />
</xs:schema>