WCFTEST/client/Service References/ServiceReference1/customService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:88/customService.svc?xsd=xsd2" namespace="http://domain/Data" />
  <xs:import schemaLocation="http://localhost:88/customService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.ServiceModel.Syndication" />
  <xs:element name="addData">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://domain/Data" minOccurs="0" name="d" nillable="true" type="q1:Data" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://domain/Data" minOccurs="0" name="getListResult" nillable="true" type="q2:ArrayOfData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFeed">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="format" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFeedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/System.ServiceModel.Syndication" minOccurs="0" name="GetFeedResult" nillable="true" type="q3:SyndicationFeedFormatter" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>