projects/wcfclient/Service References/sr/customService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/testNS" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/testNS" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="spec">
    <xs:sequence>
      <xs:element minOccurs="0" name="bamboo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="postal" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="xaddress" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="spec" nillable="true" type="tns:spec" />
</xs:schema>